<!DOCTYPE html>
<html>
<head>
<!-- META -->
<meta charset="UTF-8">
<link rel="stylesheet" href="//static.zdassets.com/hc/assets/application-2cf4ebf5037c9419ebc68104b11bc22a.css" media="all" id="stylesheet" />
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" href="//static.zdassets.com/hc/assets/theming_v1_support-e05586b61178dcde2a13a3d323525a18.css" media="all" />
    <link rel="stylesheet" type="text/css" href="//p13.zdassets.com/hc/theming_assets/2155033/114095131311/style.css?digest=13562960118029">
    <link rel="icon" type="image/x-icon" href="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <!-- SPEED -->
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="dns-prefetch" href="https://res.cloudinary.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />
  </head>
    <body>
      <section class="ui-section-feature">
      	<h2 title="Minecraft Versions" class="article-title">
      	Minecraft Versions
        </h2>
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-3">
            <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit"><img width="455" height="300" src="~/images/11963.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.63 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
              	<h4 class="post-title title-small"><a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit">Minecraft 1.19.63 64bit</a></h4>
                <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
            </div>
            <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit"><img width="455" height="300" src="~/images/11960.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.60 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                <h4 class="post-title title-small"><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit">Minecraft 1.19.60 64bit</a></h4>
                <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
            </div>
            <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit"><img width="455" height="300" src="~/images/11951.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.51 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                <h4 class="post-title title-small"><a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit">Minecraft 1.19.51 64bit</a></h4>
                <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>