@page
@model ArticleModel
@{
    ViewData["Title"] = "Minecraft x64 - WEBLUEMC";
}
 
<head>
<!-- META -->
<meta charset="UTF-8">
<title>Minecraft - 1.19.51 (Pocket Edition) &ndash; Minecraft</title>
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="hc:meta:server:X_AqUpycClQEmi2K3zhBIWQwEvDxYP2rby1IinLzbY8kg76KcDO7L-pybpwR3aWF4s7Be9gXTMAh5iwWXv-XPw">
<meta name="description" content="Posted: April 4, 2023: This update is now available on all supported platforms! A new update is available...">
<meta property="og:image" content="https://theme.zdassets.com/theme_assets/2155033/bc270c23058d513de5124ffea6bf9199af7a2370.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Minecraft x64">
<meta property="og:title" content="Minecraft - 1.19.51 (Pocket Edition)">
<meta property="og:description" content="Posted: April 4, 2023: This update is now available on all supported platforms!
A new update is available that addresses some issues that have occurred since the release...">
<meta property="og:url" content="https://webluemc.azurewebsites.net/articles/11951" />
<link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11951">
<link rel="alternate" hreflang="en" href="https://webluemc.azurewebsites.net/articles/11951">
<link rel="stylesheet" href="//static.zdassets.com/hc/assets/application-2cf4ebf5037c9419ebc68104b11bc22a.css" media="all" id="stylesheet" />
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" href="//static.zdassets.com/hc/assets/theming_v1_support-e05586b61178dcde2a13a3d323525a18.css" media="all" />
    <link rel="stylesheet" type="text/css" href="//p13.zdassets.com/hc/theming_assets/2155033/114095131311/style.css?digest=13562960118029">
    <link rel="icon" type="image/x-icon" href="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <!-- <button data-link="l7q23fvl7ycbh6u/Minecraft_1.19.73.02_64bit.apk/file" data-time="30">LINK -->
    <link rel="me" href="https://webluemc.azurewebsites.net/articles/11951">
    <link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11951">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="~/js/script.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
  </head>
    <body>
    <main role="main">
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <!-- COPYWRITING -->
            <div class="ui-component-cta ui-layout-flex">
            <!-- IMAGE -->
            <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" loading="lazy" alt="#" class="ui-image-half-right">
            </div><div>
              <h1>Minecraft 1.19.51 64bit</h1>
              <div class="starter-template" style="display:flex;display:flex;align-items: center;justify-content: center;">
                  </div>
              <p class="ui-text-intro">Minecraft 64bit gives you a better and smoother experience, optimizing performance.
              </p>
              <div class="download-btn-ctm">
                  <button data-link="590173/minecraft-11951-64bit/1" data-time="30">
                  <i class="fas fa-download"></i>Download</button></div>
              </div>
          </div>
          </div>
      </section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
      <!-- Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1582063401224493"
     data-ad-slot="4003008353"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins><script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div style="position: relative;"><iframe src="https://publisher.linkvertise.com/cdn/ads/LV-728x90/index.html" frameborder="0" height="90" width="728"></iframe><a href="https://publisher.linkvertise.com/ac/590173" target="_blank" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></a></div>
<center><img src="~/images/11951.png"></center>
      <main role="main">
  <div class="article-container" id="article-container">
    <article class="article">
      <div class="article-header">
        <h1 title="Minecraft - 1.19.51 (Pocket Edition)" class="article-title">
          Minecraft - 1.19.51 (Pocket Edition)
        </h1>
      </div>
      <section class="article-info" data-bi-area="body">
      <div class="article-content">
      <div class="article-body">
    <p><strong>Posted:</strong> April 4, 2023</p>
    <video width="320" height="240" controls src="https://youtu.be/dTKXcEbcInY">
          Your browser does not support the video tag.
          </video>
<p>This update is now available on all supported platforms!</p>
<p>A new update is available that addresses some issues that have occurred since the release of 1.19.50.</p>
<p>As always, we appreciate all your help and input! Please report any new bugs at&nbsp;<a href="http://bugs.mojang.com/" data-bi-id="n4a3" data-bi-name="bugs.mojang.com">bugs.mojang.com</a>&nbsp;and let your feedback be heard at&nbsp;<a href="http://feedback.minecraft.net/" data-bi-id="n5a3" data-bi-name="feedback.minecraft.net">feedback.minecraft.net</a>.</p>
<p><span class="wysiwyg-font-size-x-large"><strong>Fixes:</strong></span></p>
<ul>
<li>Fixed a crash that could occur during gameplay</li>
<li>Pistons can no longer recreate moving blocks that were destroyed mid-move</li>
<li>Horses can no longer be pushed over Fences with Carpets on top (<a href="https://bugs.mojang.com/browse/MCPE-164717" data-bi-id="n6a3" data-bi-name="mcpe-164717">MCPE-164717</a>)</li>
<li>Touch control selection screen will no longer appear on Nintendo Switch</li>
<li>Fixed the Structure Block screen so the Y value field can properly be accessed with just the keyboard (<a href="https://bugs.mojang.com/browse/MCPE-164148" data-bi-id="n7a3" data-bi-name="mcpe-164148">MCPE-164148</a>)</li>
</ul>
<p><span class="wysiwyg-font-size-x-large"><strong>Technical Updates:</strong></span></p>
<ul>
<li>The "minecraft:variable_max_auto_step" component has a new property "controlled_value"
<ul>
<li>This property will override "base_value" when a mob with "minecraft:input_ground_controlled" is being controlled by the player</li>
<li>"jump_prevented_value" will have precedence over both other values</li>
</ul>
</li>
</ul></div>
          <div class="article-attachments">
            <ul class="attachments"> 
            </ul>
          </div>
        </div>
      </section>
    </article>
    </div>
  </main>
      <section class="ui-section-feature">
      	<h1 title="Minecraft Versions" class="article-title">
      	Minecraft Versions
        </h1>
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-3">
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11981" rel="bookmark" title="Minecraft 1.19.81 64bit"><img width="455" height="300" src="~/images/11981.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.81 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11981" rel="bookmark" title="Minecraft 1.19.81 64bit">Minecraft 1.19.81 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11980" rel="bookmark" title="Minecraft 1.19.80 64bit"><img width="455" height="300" src="~/images/11980.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.80 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11980" rel="bookmark" title="Minecraft 1.19.81 64bit">Minecraft 1.19.81 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit"><img width="455" height="300" src="~/images/11973.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.73 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit">Minecraft 1.19.73 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11971" rel="bookmark" title="Minecraft 1.19.71 64bit"><img width="455" height="300" src="~/images/11971.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.71 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11971" rel="bookmark" title="Minecraft 1.19.71 64bit">Minecraft 1.19.71 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit"><img width="455" height="300" src="~/images/11970.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.70 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit">Minecraft 1.19.70 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit"><img width="455" height="300" src="~/images/11963.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.63 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit">Minecraft 1.19.63 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit"><img width="455" height="300" src="~/images/11960.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.60 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit">Minecraft 1.19.60 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit"><img width="455" height="300" src="~/images/11951.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.51 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit">Minecraft 1.19.51 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11922" rel="bookmark" title="Minecraft 1.19.22 64bit"><img width="455" height="300" src="~/images/11922.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.22 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11922" rel="bookmark" title="Minecraft 1.19.22 64bit">Minecraft 1.19.22 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      </section>
    </main>
  </body>
