@page
@model ArticleModel
@{
    ViewData["Title"] = "Minecraft x64 - WEBLUEMC";
}
 
<head>
<!-- META -->
<meta charset="UTF-8">
<title>Minecraft - 1.19.63 (Pocket Edition) &ndash; Minecraft x64</title>
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="hc:meta:server:X_AqUpycClQEmi2K3zhBIWQwEvDxYP2rby1IinLzbY8kg76KcDO7L-pybpwR3aWF4s7Be9gXTMAh5iwWXv-XPw">
<meta name="description" content="Posted: March 10, 2023  Fixed an issue that was causing continuous freezes when playing on Nintendo Switch (MCPE-166760) Fixed a crash..." /><meta property="og:image" content="https://theme.zdassets.com/theme_assets/2155033/bc270c23058d513de5124ffea6bf9199af7a2370.png" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Minecraft x64" />
<meta property="og:title" content="Minecraft - 1.19.63 (Pocket Edition)" />
<meta property="og:description" content="Posted: March 10, 2023

Fixed an issue that was causing continuous freezes when playing on Nintendo Switch (MCPE-166760)
Fixed a crash that could occur when playing on iOS devices
Fixed a bug wh..." />
<meta property="og:url" content="https://webluemc.azurewebsites.net/articles/11963" />
<link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11963">
<link rel="alternate" hreflang="en" href="https://webluemc.azurewebsites.net/articles/11963">
<link rel="stylesheet" href="//static.zdassets.com/hc/assets/application-2cf4ebf5037c9419ebc68104b11bc22a.css" media="all" id="stylesheet" />
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" href="//static.zdassets.com/hc/assets/theming_v1_support-e05586b61178dcde2a13a3d323525a18.css" media="all" />
    <link rel="stylesheet" type="text/css" href="//p13.zdassets.com/hc/theming_assets/2155033/114095131311/style.css?digest=13562960118029">
    <link rel="icon" type="image/x-icon" href="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <!-- SPEED -->
    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <!-- LINK -->
    <link rel="me" href="https://webluemc.azurewebsites.net/articles/11963">
    <link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11963">
    <link rel="icon" type="image/png" href="~/images/icon.png" sizes="48x48" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="~/js/script.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
  </head>
    <body>
    <main role="main">
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <!-- COPYWRITING -->
            <div class="ui-component-cta ui-layout-flex">
            <!-- IMAGE -->
            <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" loading="lazy" alt="#" class="ui-image-half-right">
            </div><div>
              <h1>Minecraft 1.19.63 64bit</h1>
              <div class="starter-template" style="display:flex;display:flex;align-items: center;justify-content: center;">
                  </div>
              <p class="ui-text-intro">Minecraft 64bit gives you a better and smoother experience, optimizing performance.
              </p>
              <button class="download-btn" data-timer="10">
             <span class="icon material-symbols-rounded">vertical_align_bottom</span>
             <span class="text">Download</span>
             </button>
             </div>
          </div>
          </div>
      </section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
      <!-- Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1582063401224493"
     data-ad-slot="4003008353"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins><script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <main role="main">
  <div class="article-container" id="article-container">
    <article class="article">
      <div class="article-header">
        <h1 title="Minecraft - 1.19.63 (Pocket Edition)" class="article-title">
          Minecraft - 1.19.63 (Pocket Edition)
        </h1>
      </div>
      <section class="article-info">
        <div class="article-content">
          <div style="padding: 1rem;" class="article-body"><p><strong><span class="wysiwyg-font-size-medium">Posted:&nbsp;</span></strong><span class="wysiwyg-font-size-medium">March 10, 2023</span></p>
<ul>
<li>Fixed an issue that was causing continuous freezes when playing on Nintendo Switch (<a href="https://bugs.mojang.com/browse/MCPE-166760" target="_self">MCPE-166760</a>)</li> 
<li>Fixed a crash that could occur when playing on iOS devices</li>
<li>Fixed a bug where the Edit World screen couldn't be opened for a world if the corresponding world directory had a space in it (<a href="https://bugs.mojang.com/browse/MCPE-166763" target="_self">MCPE-166763</a>)</li>
<li>Improved navigation of the “My Content” Marketplace screen when using a controller</li>
</ul></div>

          <div class="article-attachments">
            <ul class="attachments">
              
            </ul>
          </div>
        </div>
      </section>
    </article>
    </div>
  </main>
      <section class="ui-section-feature">
      	<h1 title="Minecraft Versions" class="article-title">
      	Minecraft Versions
        </h1>
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-3">
            <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit"><img width="455" height="300" src="~/images/11960.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.60 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                <h4 class="post-title title-small"><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit">Minecraft 1.19.60 64bit</a></h4>
                <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
            </div>
            <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit"><img width="455" height="300" src="~/images/11951.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.51 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                <h4 class="post-title title-small"><a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit">Minecraft 1.19.51 64bit</a></h4>
                <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
