@page
@model ArticleModel
@{
    ViewData["Title"] = "Minecraft x64 - WEBLUEMC";
}
 
<head>
<!-- META -->
<meta charset="UTF-8">
<title>Minecraft - 1.19.73 (Pocket Edition) &ndash; Minecraft x64</title>
<meta name="description" content="Posted: March 29, 2023 
An update has been released to fix several issues that addresses a few issues that occurred since the release of...">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Minecraft x64">
<meta property="og:title" content="Minecraft - 1.19.73 (Pocket Edition)">
<meta property="og:description" content="Posted: March 29, 2023
An update has been released to fix several issues that addresses a few issues that occurred since the release of 1.19.70.
Please continue to upvote and report any new bugs at...">
<meta property="og:url" content="https://webluemc.azurewebsites.net/articles/11973" />
<link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11973">
<link rel="alternate" hreflang="en" href="https://webluemc.azurewebsites.net/articles/11973">
<link rel="stylesheet" href="//static.zdassets.com/hc/assets/application-2cf4ebf5037c9419ebc68104b11bc22a.css" media="all" id="stylesheet" />
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" href="//static.zdassets.com/hc/assets/theming_v1_support-e05586b61178dcde2a13a3d323525a18.css" media="all" />
    <link rel="stylesheet" type="text/css" href="//p13.zdassets.com/hc/theming_assets/2155033/114095131311/style.css?digest=13562960118029">
    <link rel="icon" type="image/x-icon" href="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <!-- LINK -->
    <link rel="me" href="https://webluemc.azurewebsites.net/articles/11973">
    <link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11973">
    <link rel="icon" type="image/png" href="~/images/icon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="~/js/script.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
  </head>
    <body>
    <main role="main">
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <!-- COPYWRITING -->
            <div class="ui-component-cta ui-layout-flex">
            <!-- IMAGE -->
            <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" loading="lazy" alt="#" class="ui-image-half-right">
            </div><div>
              <h1>Minecraft 1.19.73 64bit</h1>
              <div class="starter-template" style="display:flex;display:flex;align-items: center;justify-content: center;">
                  </div>
              <p class="ui-text-intro">Minecraft 64bit gives you a better and smoother experience, optimizing performance.
              </p>
              <div class="download-btn-ctm">
                <button data-link="590173/minecraft-11973-64bit/1" data-time="30">
                  <i class="fas fa-download"></i>Download</button></div>
             </div>
          </div>
          </div>
      </section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
      <!-- Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1582063401224493"
     data-ad-slot="4003008353"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins><script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <center><img src="~/images/11973.png"></center>
      <main role="main">
  <div class="article-container" id="article-container">
    <article class="article">
      <div class="article-header">
        <h1 title="Minecraft - 1.19.73 (Pocket Edition)" class="article-title">
          Minecraft - 1.19.73 (Pocket Edition)
        </h1>
      </div>
      <section class="article-info">
        <div class="article-content">
          <div style="padding: 1rem;" class="article-body"><p><strong><span class="wysiwyg-font-size-medium">Posted:&nbsp;</span></strong><span class="wysiwyg-font-size-medium">April 1, 2023</span></p>
          <p>An update has been released to fix several issues that addresses a few issues that occurred since the release of 1.19.70.</p>
          <p>Please continue to upvote and report any new bugs at <a href="https://bugs.mojang.com/" data-bi-id="n4a3" data-bi-name="bugs.mojang.com">bugs.mojang.com</a> and leave us your feedback at <a href="https://feedback.minecraft.net/" data-bi-id="n5a3" data-bi-name="feedback.minecraft.net">feedback.minecraft.net</a>.<br><br></p>
          <p><span class="wysiwyg-font-size-x-large"><strong>Fixes:</strong></span></p>
          <ul>
            <li>Fixed several crashes that could occur during gameplay</li>
            <li>Fixed a crash that could occur with Command Blocks using teleport commands</li>
            <li>Fixed a bug where the player's aim height was not adjusting correctly when sneaking (<a href="https://bugs.mojang.com/browse/MCPE-167559" target="_self" data-bi-id="n6a3" data-bi-name="mcpe-167559">MCPE-167559</a>)</li>
            <li>The first player in a splitscreen game will no longer have their input interrupted by other players opening up a container or inventory screen (<a href="https://bugs.mojang.com/browse/MCPE-168610" target="_self" data-bi-id="n7a3" data-bi-name="mcpe-168610">MCPE-168610</a>)</li>
            <li>Fixed an issue where Ghast volume and volume distance were too low (<a href="https://bugs.mojang.com/browse/MCPE-168324" target="_self" data-bi-id="n8a3" data-bi-name="mcpe-168324">MCPE-168324</a>)</li>
            <li>Fixed duplicate tooltips appearing when selecting item in the inventory while using touch controls (<a href="https://bugs.mojang.com/browse/MCPE-166866" target="_self" data-bi-id="n9a3" data-bi-name="mcpe-166866">MCPE-166866</a>)</li>
          </ul>
          </div>
          <div class="article-attachments">
            <ul class="attachments"> 
            </ul>
          </div>
        </div>
      </section>
    </article>
    </div>
  </main>
      <section class="ui-section-feature">
      	<h1 title="Minecraft Versions" class="article-title">
      	Minecraft Versions
        </h1>
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-3">
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11981" rel="bookmark" title="Minecraft 1.19.81 64bit"><img width="455" height="300" src="~/images/11981.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.81 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11981" rel="bookmark" title="Minecraft 1.19.81 64bit">Minecraft 1.19.81 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit"><img width="455" height="300" src="~/images/11973.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.73 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit">Minecraft 1.19.73 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11971" rel="bookmark" title="Minecraft 1.19.71 64bit"><img width="455" height="300" src="~/images/11971.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.71 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11971" rel="bookmark" title="Minecraft 1.19.71 64bit">Minecraft 1.19.71 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit"><img width="455" height="300" src="~/images/11970.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.70 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit">Minecraft 1.19.70 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit"><img width="455" height="300" src="~/images/11963.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.63 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit">Minecraft 1.19.63 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit"><img width="455" height="300" src="~/images/11960.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.60 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit">Minecraft 1.19.60 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit"><img width="455" height="300" src="~/images/11951.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.51 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit">Minecraft 1.19.51 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11922" rel="bookmark" title="Minecraft 1.19.22 64bit"><img width="455" height="300" src="~/images/11922.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.22 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11922" rel="bookmark" title="Minecraft 1.19.22 64bit">Minecraft 1.19.22 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
          </div>
        </div>
      </section>
    </main>
  </body>
