@page
@model ArticleModel
@{
    ViewData["Title"] = "Minecraft x64 - WEBLUEMC";
}
 
<head>
<meta charset="UTF-8">
<title>Minecraft - 1.19.80 (Pocket Edition) &ndash; Minecraft x64</title>
<meta name="description" content="Posted: May 7, 2023 
It’s time for a new quality-of-life update containing a variety of changes, fixes, and experimental features!...">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Minecraft x64">
<meta property="og:title" content="Minecraft - 1.19.80 (Pocket Edition)">
<meta property="og:description" content="Posted: May 7, 2023
It’s time for a new quality-of-life update containing a variety of changes, fixes, and experimental features! Let’s jump into the highlights:
Fixed multiple crashes that cou...">
<meta property="og:url" content="https://webluemc.azurewebsites.net/articles/11980" />
<link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11980">
<link rel="alternate" hreflang="en" href="https://webluemc.azurewebsites.net/articles/11980">
<link rel="stylesheet" href="//static.zdassets.com/hc/assets/application-2cf4ebf5037c9419ebc68104b11bc22a.css" media="all" id="stylesheet" />
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" href="//static.zdassets.com/hc/assets/theming_v1_support-e05586b61178dcde2a13a3d323525a18.css" media="all" />
    <link rel="stylesheet" type="text/css" href="//p13.zdassets.com/hc/theming_assets/2155033/114095131311/style.css?digest=13562960118029">
    <link rel="icon" type="image/x-icon" href="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <!-- LINK -->
    <link rel="me" href="https://webluemc.azurewebsites.net/articles/11980">
    <link rel="canonical" href="https://webluemc.azurewebsites.net/articles/11980">
    <link rel="icon" type="image/png" href="~/images/icon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="~/js/script.js" defer></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
  </head>
    <body>
    <main role="main">
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <!-- COPYWRITING -->
            <div class="ui-component-cta ui-layout-flex">
            <!-- IMAGE -->
            <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" loading="lazy" alt="#" class="ui-image-half-right">
            </div><div>
              <h1>Minecraft 1.19.80 64bit</h1>
              <div class="starter-template" style="display:flex;display:flex;align-items: center;justify-content: center;">
                  </div>
              <p class="ui-text-intro">Minecraft 64bit gives you a better and smoother experience, optimizing performance.
              </p>
              <div class="download-btn-ctm">
                <button data-link="590173/minecraft-11980-64bit/1" data-time="30">
                  <i class="fas fa-download"></i>Download</button></div>
             </div>
          </div>
          </div>
      </section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
            crossorigin="anonymous"></script>
      <!-- Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1582063401224493"
     data-ad-slot="4003008353"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins><script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        <center><img src="~/images/11980.png"></center>
      <main role="main">
  <div class="article-container" id="article-container">
    <article class="article">
      <div class="article-header">
        <h1 title="Minecraft - 1.19.80 (Pocket Edition)" class="article-title">
          Minecraft - 1.19.80 (Pocket Edition)
        </h1>
      </div>
      <section class="article-info">
        <div class="article-content">
          <div class="article-body"><p><strong>Posted:</strong> May 7, 2023</p>
<p>It’s time for a new quality-of-life update containing a variety of changes, fixes, and experimental features! Let’s jump into the highlights:</p>
<ul>
<li>Fixed multiple crashes that could occur during gameplay</li>
<li>Added settings to adjust item enchantment glint strength and speed</li>
<li>Take an early look at cherry blossom trees, armor trims, and more with experimental features</li>
<li>Fixes to over 40 community-reported issues</li>
</ul>
<p>Please continue to upvote and report any new bugs at <a href="https://bugs.mojang.com/" data-bi-id="n4a3" data-bi-name="bugs.mojang.com">bugs.mojang.com</a> and leave us your feedback at <a href="https://feedback.minecraft.net/" data-bi-id="n5a3" data-bi-name="feedback.minecraft.net">feedback.minecraft.net</a>.</p>
<p>&nbsp;</p>
<p><img src="~/images/r19U8.jpg" alt="A Minecraft screenshot"></p>
<p>&nbsp;</p>
<h1><strong>Experimental Features:</strong></h1>
<p>Even more experimental features are available in this update that are coming in the <a href="https://www.minecraft.net/en-us/article/the-trails---tales-update" data-bi-id="n6a3" data-bi-name="trails &amp; tales"><strong>Trails &amp; Tales</strong></a> update!</p>
<p>As these features are still incomplete, in development, and considered a work in progress, be sure to backup your worlds before enabling experimental features. The features can be enabled by turning on the “Next Major Update” toggle in world settings.<br><br></p>
<h2><strong>Player Sneaking</strong></h2>
<ul>
<li>The ability to sneak under 1.5 block gaps is now behind the “Short Sneak” toggle. Enable the toggle to continue to test out the feature while we continue polishing it</li>
<li>Player’s hitbox height now reduces to 1.5 blocks while sneaking
<ul>
<li>Sneaking will automatically be initiated while stuck in a gap of less than 1.8 blocks</li>
<li>Sneaking will lower the player camera height respective of these changes</li>
<li>Sneaking now requires enough space to stand in order to exit sneaking state</li>
<li>Players will transition from swimming to sneaking if they are unable to stand up but would be able to sneak</li>
</ul>
</li>
</ul>
<h2><strong>Cherry Grove</strong></h2>
<ul>
<li>Introducing the Cherry Grove biome, with pretty Cherry Blossom trees. You can find it in the mountains, like Meadows</li>
<li>It has a new flower, Pink Petals, as ground cover, which can be crafted into Pink Dye</li>
<li>Pigs, Rabbits, Sheep, and Bees spawn there</li>
<li>Comes with a new wood set for the Cherry Blossom trees</li>
</ul>
<h2><strong>Archaeology</strong></h2>
<ul>
<li>Added the Trail Ruins, a buried structure from a lost culture</li>
<li>Added Suspicious Gravel block, which has the same characteristics as Suspicious Sand</li>
<li>Added Suspicious Sand to Warm Ocean Ruins</li>
<li>Added Suspicious Gravel to Cold Ocean Ruins</li>
<li>Added 16 new Pottery Shards (Now 20 Pottery Shards in total)
<ul>
<li>These have been distributed between the five Archaeology sites: Desert Wells, Desert Temples, Cold Ocean Ruins, Warm Ocean Ruins, and Trail Ruins</li>
</ul>
</li>
</ul>
<h2><strong>Armor Trims</strong></h2>
<ul>
<li>You can now visually customize your armor with a variety of unique trims at the Smithing Table</li>
<li>Armor Trims are purely visual with no gameplay benefits, and can only be applied to Helmets, Chestplates, Leggings, and Boots
<ul>
<li>All trim patterns are visually the same on an armor's item icon, but the color will still change based on the trim material</li>
<li>To check which trim pattern a piece of armor has, you can hover over it in the inventory</li>
</ul>
</li>
<li>An Armor Trim has two properties: a pattern and a material
<ul>
<li>The pattern is defined by the Smithing Template used to apply the trim, and represents the visual pattern of the trim</li>
<li>The material is defined by what ingredient you used to apply the trim, and represents the color of the trim</li>
</ul>
</li>
<li>The viable ingredients you can use to define the color of your Armor Trim are the following:
<ul>
<li>Iron</li>
<li>Copper</li>
<li>Gold</li>
<li>Lapis</li>
<li>Emerald</li>
<li>Diamond</li>
<li>Netherite</li>
<li>Redstone</li>
<li>Amethyst</li>
<li>Quartz</li>
</ul>
</li>
</ul>
<h2><strong>Smithing Templates</strong></h2>
<ul>
<li>Smithing Tables have been redesigned into a workstation for physical equipment upgrades and modifications</li>
<li>Alongside slots for combining a piece of equipment and materials, there is now a required slot for an item type called Smithing Templates</li>
<li>Smithing Templates define what type of upgrade you will be making to equipment
<ul>
<li>It specifies both what type of items you can upgrade, and which ingredients are valid to customize the upgrade</li>
<li>There are currently two categories of Smithing Templates: Armor Trim and Netherite Upgrade</li>
</ul>
</li>
<li>Armor Trim Smithing Templates can be found all throughout the world, and each of the following structures contain their own unique Smithing Template:
<ul>
<li>Pillager Outpost: Sentry Armor Trim</li>
<li>Desert Pyramid: Dune Armor Trim</li>
<li>Shipwreck: Coast Armor Trim</li>
<li>Jungle Temple: Wild Armor Trim</li>
<li>Ocean Monument: Tide Armor Trim</li>
<li>Ancient City: Ward Armor Trim</li>
<li>Woodland Mansion: Vex Armor Trim</li>
<li>Nether Fortress: Rib Armor Trim</li>
<li>Bastion Remnant: Snout Armor Trim</li>
<li>Stronghold: Eye Armor Trim</li>
<li>End City: Spire Armor Trim</li>
<li>Trail Ruins: Wayfinder Armor Trim, Raiser Armor Trim, Shaper Armor Trim, Host Armor Trim</li>
<li>Ancient City: Silence Armor Trim</li>
</ul>
</li>
<li>Smithing Templates are found in Chests in their respective structure, except for the Ocean Monument. Instead of finding it in Chests, Elder Guardians sometimes drop a Smithing Template when defeated</li>
<li>Some Armor Trim Smithing Templates are rarer than others, so be on the lookout for them to impress your friends!</li>
<li>Smithing Templates are consumed when used to upgrade an item in the Smithing Table</li>
<li>You can craft a copy of a Smithing Template in the Crafting Table with 7 Diamonds + 1 block of material that the template is made out of + 1 Smithing Template, which will output 2 of the same Smithing Template</li>
</ul>
<h2><strong>Netherite Equipment</strong></h2>
<ul>
<li>Netherite equipment crafting now also requires a Netherite Upgrade Smithing Template</li>
<li>Netherite Upgrade Smithing Templates can be found randomly in all Bastion Remnant chests, and there is a guarantee of 2 in every Treasure Room Bastion Remnant</li>
<li>This change was made for a variety of reasons:
<ul>
<li>Increases the time players utilize Diamond equipment before Netherite</li>
<li>Make Netherite equipment a more significant achievement in the game's progression</li>
<li>Adapts Netherite more naturally into the new Smithing Table crafting system</li>
</ul>
</li>
</ul>
<h2><strong>Calibrated Sculk Sensors</strong></h2>
<ul>
<li>A new variant of Sculk Sensors which allows you to filter vibrations based on their frequency level. They are not found naturally and can only be crafted</li>
<li>They can be crafted with 1 Sculk Sensor and 3 Amethyst Shards in the Crafting Table</li>
<li>One side of the Calibrated Sculk Sensor can receive a Redstone signal as input
<ul>
<li>The strength of that Redstone signal is the only vibration frequency the Sculk Sensor will listen to</li>
</ul>
</li>
</ul>
<h2><strong>Vibration Resonance</strong></h2>
<ul>
<li>Blocks of Amethyst have a new behavior when placed adjacent to Sculk Sensors</li>
<li>If that Sculk Sensor receives a vibration, the Block of Amethyst will re-emit its frequency as a separate vibration at its location</li>
<li>This behaviour is called Vibration Resonance, and allows players to move vibration frequencies across long distances without having to recreate the vibration naturally</li>
</ul>
<h2><strong>Sign Improvements</strong></h2>
<ul>
<li>Signs have improved customization options</li>
<li>Sign text can now be edited after being placed in the world
<ul>
<li>This can be done by interacting with the Sign</li>
</ul>
</li>
<li>Both sides of the Sign can now have separate text and colors, allowing for further customization options
<ul>
<li>By default, a Sign will prompt you to input the front side's text when placed</li>
<li>To apply text to the back-side, you must walk to the other side and interact with that face to edit it</li>
</ul>
</li>
<li>Signs can now also be waxed with Honeycomb, preventing any further edits to its text</li>
</ul>
<h2><strong>Vanilla Parity:</strong></h2>
<ul>
<li>Renamed and enchanted weapons are now displayed in respawn and chat windows with color when a player is killed by an entity using it (<a href="https://bugs.mojang.com/browse/MCPE-162679" data-bi-id="n7a3" data-bi-name="mcpe-162679">MCPE-162679</a>)</li>
<li>Weighted Pressure Plates now produce the same sound as in Java Edition (<a href="https://bugs.mojang.com/browse/MCPE-164912" data-bi-id="n8a3" data-bi-name="mcpe-164912">MCPE-164912</a>)</li>
<li>Removed the character limit for scoreboard objective names and objective display names (<a href="https://bugs.mojang.com/browse/MCPE-165064" data-bi-id="n9a3" data-bi-name="mcpe-165064">MCPE-165064</a>)</li>
<li>Melons and Pumpkins can now grow onto Mud, Podzol, Rooted Dirt, and Muddy Mangrove Roots</li>
<li>Nylium blocks are now grouped with Netherrack in the Creative inventory (<a href="https://bugs.mojang.com/browse/MCPE-163587" data-bi-id="n10a3" data-bi-name="mcpe-163587">MCPE-163587</a>)</li>
<li>Armor Stands now vanish with no sound effects when killed with the /kill command (<a href="https://bugs.mojang.com/browse/MCPE-159136" data-bi-id="n11a3" data-bi-name="mcpe-159136">MCPE-159136</a>)</li>
<li>Slightly decreased Panda collision box to match Java Edition</li>
<li>Slightly increased Polar Bear collision box to match Java Edition</li>
<li>Shipwreck supply chests are no longer missing Moss Block as loot (<a href="https://bugs.mojang.com/browse/MCPE-168376" data-bi-id="n12a3" data-bi-name="mcpe-168376">MCPE-168376</a>)</li>
<li>Mobs will once again take damage when standing on an incomplete block next to a Campfire (<a href="https://bugs.mojang.com/browse/MCPE-167479" data-bi-id="n13a3" data-bi-name="mcpe-167479">MCPE-167479</a>) <br><br>
</li>
</ul>
<h1><strong>Fixes and Changes:</strong></h1>
<h2><strong>Stability and Performance</strong></h2>
<ul>
<li>Fixed several crashes that could occur during gameplay</li>
<li>Fixed a bug where invalid Banner Patterns were causing players in render distance to crash</li>
<li>Fixed a bug where Command Blocks could cause actors within a level chunk to freeze</li>
<li>Fixed a crash that could occur when opening the My Packs tab with a broken pack (<a href="https://bugs.mojang.com/browse/MCPE-165806" data-bi-id="n14a3" data-bi-name="mcpe-165806">MCPE-165806</a>)</li>
</ul>
<h2><strong>Gameplay</strong></h2>
<ul>
<li>Fixed the player moving in the wrong direction after exiting a container screen while using a gamepad (<a href="https://bugs.mojang.com/browse/MCPE-121565" data-bi-id="n15a3" data-bi-name="mcpe-121565">MCPE-121565</a>)</li>
<li>Players can no longer sneak while flying (<a href="https://bugs.mojang.com/browse/MCPE-166834" data-bi-id="n16a3" data-bi-name="mcpe-166834">MCPE-166834</a>)</li>
<li>The player’s camera no longer appears inside blocks when sprint and swim are held (<a href="https://bugs.mojang.com/browse/MCPE-166565" data-bi-id="n17a3" data-bi-name="mcpe-166565">MCPE-166565</a>)</li>
<li>Fixed animation transition between swimming and walking (<a href="https://bugs.mojang.com/browse/MCPE-166769" data-bi-id="n18a3" data-bi-name="mcpe-166769">MCPE-166769</a>)</li>
<li>The Health Boost effect will no longer fully replenish the player's health after the effect runs out (<a href="https://bugs.mojang.com/browse/MCPE-165434" data-bi-id="n19a3" data-bi-name="mcpe-165434">MCPE-165434</a>)</li>
<li>Fixed ambient cave sounds to no longer play when the player enters or loads into The End (<a href="https://bugs.mojang.com/browse/MCPE-141493" data-bi-id="n20a3" data-bi-name="mcpe-141493">MCPE-141493</a>)</li>
</ul>
<h2><strong>Mobs</strong></h2>
<ul>
<li>Mobs can now enter a Boat only if they are smaller than the Boat itself</li>
<li>Villagers will now generate green particles when a successful trade is completed</li>
<li>Mobs no longer play the player eat sound when fed breeding materials</li>
<li>Turtles can now enter Boats and Boats with Chest (<a href="https://bugs.mojang.com/browse/MCPE-65719" data-bi-id="n21a3" data-bi-name="mcpe-65719">MCPE-65719</a>)</li>
<li>Hoglins, Polar Bears, and Spiders can no longer enter Boats and Boats with Chest (<a href="https://bugs.mojang.com/browse/MCPE-161197" data-bi-id="n22a3" data-bi-name="mcpe-161197">MCPE-161197</a>)</li>
<li>Fixed experience orb position desync after teleport (<a href="https://bugs.mojang.com/browse/MCPE-59584" data-bi-id="n23a3" data-bi-name="mcpe-59584">MCPE-59584</a>)</li>
<li>Villagers will now wake up in a valid position and will not phase though blocks (<a href="https://bugs.mojang.com/browse/MCPE-142544" data-bi-id="n24a3" data-bi-name="mcpe-142544">MCPE-142544</a>)</li>
</ul>
<h2><strong>Blocks</strong></h2>
<ul>
<li>Mangrove, Bamboo, and Polished Blackstone buttons are no longer visible on maps</li>
<li>Flowers are once again displayed immediately when placed inside a Flower Pot</li>
<li>Nether Portals can now replace blocks other than just air when being generated. This includes blocks such as Grass and Snow layers (<a href="https://bugs.mojang.com/browse/MCPE-162272" data-bi-id="n25a3" data-bi-name="mcpe-162272">MCPE-162272</a>)</li>
<li>Light Blocks can no longer have their light levels changed in Survival or Adventure modes (<a href="https://bugs.mojang.com/browse/MCPE-138868" data-bi-id="n26a3" data-bi-name="mcpe-138868">MCPE-138868</a>)</li>
<li>Campfire sounds are now louder and clearer (<a href="https://bugs.mojang.com/browse/MCPE-122296" data-bi-id="n27a3" data-bi-name="mcpe-122296">MCPE-122296</a>)</li>
<li>Sponges no longer emit water drop particles underwater (<a href="https://bugs.mojang.com/browse/MCPE-122138" data-bi-id="n28a3" data-bi-name="mcpe-122138">MCPE-122138</a>)</li>
<li>Fixed an issue where colored wool became white wool after been loaded from worlds prior to 1.17 (<a href="https://bugs.mojang.com/browse/MCPE-168684" data-bi-id="n29a3" data-bi-name="mcpe-168684">MCPE-168684</a>)</li>
</ul>
<h2><strong>Items</strong></h2>
<ul>
<li>Potions no longer have an enchantment glint, due to it obscuring the color of the potion contents</li>
<li>Cooking Chorus Fruit in a Furnace will now generate experience (<a href="https://bugs.mojang.com/browse/MCPE-68127" data-bi-id="n30a3" data-bi-name="mcpe-68127">MCPE-68127</a>)</li>
</ul>
<h2><strong>Accessibility</strong></h2>
<ul>
<li>A glint strength slider that adjusts how transparent the visual glint is on enchanted items has been added to the Accessibility Settings</li>
<li>A glint speed slider that adjusts how fast the visual glint shimmers across enchanted items has been added to the Accessibility Settings</li>
<li>Focus indicator is now automatically visible on menu items while using a keyboard</li>
<li>Text-to-speech no longer reads previously selected items after moving to new one</li>
<li>Text-to-speech no longer gets stuck on reading accessibility tab while the user switches between different tabs</li>
</ul>
<h2><strong>User Interface</strong></h2>
<ul>
<li>Added a header and title for the inventory tab in inventory screen while using Pocket UI</li>
<li>Updated look of sign in and sign up screens</li>
<li>Increased the spacing between headers in the Settings screen to increase readability</li>
<li>Touchpad scrolling now matches the operating system's scroll direction</li>
<li>Feedback button on the pause menu will now prompt the user with a modal before redirecting to the browser</li>
<li>Corrected toggle navigation in Edit World menu while using gamepad or keyboard that were previously skipped</li>
</ul>
<h2><strong>Graphical</strong></h2>
<ul>
<li>Halved the default visibility of the glint on enchanted items, which can now be modified in the Accessibility Settings (<a href="https://bugs.mojang.com/browse/MCPE-167814" data-bi-id="n31a3" data-bi-name="mcpe-167814">MCPE-167814</a>)</li>
<li>Fixed an issue where unnecessary black boxes appeared in VR while around partial blocks</li>
<li>Fixed the issue where multiple light sources (such as Torches) were incorrectly emitting white light in RTX (<a href="https://bugs.mojang.com/browse/MCPE-166947" data-bi-id="n32a3" data-bi-name="mcpe-166947">MCPE-166947</a>)</li>
<li>Boots do not z-fight anymore when worn by a player</li>
<li>The "leg" and "belt" parts of Leggings do not z-fight anymore when worn by a player</li>
<li>Capes no longer flash red when getting damaged (<a href="https://bugs.mojang.com/browse/MCPE-105347" data-bi-id="n33a3" data-bi-name="mcpe-105347">MCPE-105347</a>)</li>
<li>Fixed a visible gap in Hopper model (<a href="https://bugs.mojang.com/browse/MCPE-55122" data-bi-id="n34a3" data-bi-name="mcpe-55122">MCPE-55122</a>)</li>
<li>Fixed alignment of the output slot of Crafting Table (<a href="https://bugs.mojang.com/browse/MCPE-143255" data-bi-id="n35a3" data-bi-name="mcpe-143255">MCPE-143255</a>)</li>
<li>Going into lava in third person view no longer causes the camera to turn black (<a href="https://bugs.mojang.com/browse/MCPE-166861" data-bi-id="n36a3" data-bi-name="mcpe-166861">MCPE-166861</a>)</li>
</ul>
<h2><strong>Marketplace</strong></h2>
<ul>
<li>A Wishlist has been added to select players for testing so that players can save things to purchase at a later time</li>
<li>This feature is still in testing and, for now, will only be available for select players</li>
<li>Look for this icon in Marketplace:</li>
</ul>
<p class="wysiwyg-text-align-center"><img src="~/images/Marketplace_wishlist.png" alt="Marketplace wishlist icon"></p>
<h2><strong>Realms</strong></h2>
<ul>
<li>Fixed an issue that prevented players on PlayStation 5 from purchasing a Realms Plus trial</li>
<li>Added the ability for members to update the Realm server version, meaning that the Realm owner will not need to log on to update</li>
<li>Added D-pad navigation in the Realms feed screen popup</li>
<li>Added keyboard navigation in the Realms feed screen popup</li>
<li>Fixed a bug where players would be stuck if they added a resource pack to an expired Realm and clicked the exit button</li>
<li>Fixed a bug where content packs applied to a world in a Realm slot were applied to another world in another slot in the same Realm</li>
<li>Fixed a bug where content packs applied to a world is unintentionally unapplied when joining a world</li>
<li>Fixed an extra Cancel button displaying on mobile file download dialog</li>
<li>Added a link to Microsoft Privacy Statement in the world upload dialog</li>
</ul>
<h2><strong>Touch Controls</strong></h2>
<ul>
<li>Added new touch and hold Stack Splitting for precision selection of the items in a single slot</li>
<li>Fixed an issue where items could get stuck in the Crafting Table when using touch input</li>
<li>If the player is underwater and Auto-Jump is enabled, as they approach a block that is 1 level higher than the current level, they will rise. This also allows auto-jumping out of water onto land <br><br>
</li>
</ul>
<h1><strong>Technical Updates:</strong></h1>
<h2><strong>Updated Add-On Template Packs</strong></h2>
<ul>
<li>Updated Add-On templates for 19.80 with new resources, behaviors, and documentation are available to download at <a href="https://aka.ms/MCAddOnPacks" data-bi-id="n37a3" data-bi-name="aka.ms/mcaddonpacks">aka.ms/MCAddonPacks<br></a>
</li>
</ul>
<h2><strong>General</strong></h2>
<ul>
<li>For behavior packs using version 1.19.80 and above, recipes no longer accept a Molang query for the item's data field, instead use the item's full name, eg. use { "item": "namespace:actor_spawn_egg" } instead of { "item": "spawn_egg", "data": "query.get_actor_info_id('namespace:actor')" }</li>
<li>Fixed an issue that caused the InteractComponent to not work correctly while sneaking (<a href="https://bugs.mojang.com/browse/MCPE-168449" data-bi-id="n38a3" data-bi-name="mcpe-168449">MCPE-168449</a>)</li>
</ul>
<h2><strong>Commands</strong></h2>
<ul>
<li>The /execute command now displays an appropriate error message when there is an error in the second or subsequent subcommand target selector (<a href="https://bugs.mojang.com/browse/MCPE-164304" data-bi-id="n39a3" data-bi-name="mcpe-164304">MCPE-164304</a>)</li>
<li>Provide auto-complete support for block states</li>
<li>Added two new overloads to the summon command:
<ul>
<li>/summon [spawnPos : x y z] facing &lt;position: x y z&gt; [spawnEvent: string] [nametag: string]</li>
<li>/summon [spawnPos : x y z] facing &lt;lookAtEntity: target&gt; [spawnEvent: string] [nametag: string]</li>
</ul>
</li>
<li>Fixed an issue where the paste button in the Command Block UI would remember extra presses from failed pastes (<a href="https://bugs.mojang.com/browse/MCPE-163705" data-bi-id="n40a3" data-bi-name="mcpe-163705">MCPE-163705</a>)</li>
<li>For worlds using game version 1.19.80 and above, acquiring a custom spawn egg through a command can only succeed with their full name rather than with an aux value, eg. "/give s namespace:actor_spawn_egg"</li>
<li>"fence" block is now split into unique names, "oak_fence", "acacia_fence", "birch_fence", "dark_oak_fence", "jungle_fence", and "spruce_fence"</li>
<li>Commands will still work with "fence", but only new fence name will be suggested in the command prompt</li>
<li>Removed requirement for blockState argument(s) when using other optional args in /fill /setblock and /clone (<a href="https://bugs.mojang.com/browse/MCPE-167959" data-bi-id="n41a3" data-bi-name="mcpe-167959">MCPE-167959</a>)</li>
<li>Implemented the "inputpermission" command, which allows for setting the player's camera or movement as enabled or disabled
<ul>
<li>Syntax: /inputpermission set &lt;target: player&gt; &lt;permission: camera | movement&gt; &lt;state: enabled | disabled&gt;</li>
</ul>
</li>
<li>Implemented the "haspermission" target selector, which allows for selection based on player permission levels</li>
</ul>
<h2><strong>Game Events</strong></h2>
<ul>
<li>
<em>item_interact_finish</em> game event now has a vibration frequency of 2 instead of 14</li>
<li>
<em>item_interact_start</em> is no longer considered a detectable vibration</li>
<li>Reeling a fishing rod now emits <em>projectile_shoot</em> vibration</li>
</ul>
<h2><strong>Data-Driven Components</strong></h2>
<ul>
<li>Added "lose_target" field to projectile data to specify if an entity should unselect its target after shooting the projectile</li>
<li>Added a new Transformation component for blocks to support rotation, scaling and translation. The component can be added to the whole block, and/or to individual block permutations. Eg.</li>
</ul>
<p>"minecraft:transformation": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "translation": [0.0, 0.1, -0.1],<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "scale": [0.5, 1, 1.5],<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "rotation": [90, 180, 0]<br>}</p>
<ul>
<li>Transformed geometries still have the same restrictions that non-transformed geometries have, eg. a maximum size of 30/16 units</li>
</ul>
<h2><strong>Add-Ons and Script Engine</strong></h2>
<ul>
<li>Chance information types used in tree feature JSONs for some trunks and foliage now allow 0 as the chance (values like 0.0001 were allowed, but not 0)</li>
<li>Form promises are now rejected using typed errors, vs. strings as used previously</li>
</ul>
<h2><strong>Entity Filters</strong></h2>
<ul>
<li>Created new entity filter "is_raider" to determine if subject is part of a raid</li>
</ul>
<h2><strong>AI Goals</strong></h2>
<ul>
<li>Added "cooldown" field to target descriptors in "minecraft:behavior.nearest_attackable_target" goal</li>
</ul>
<h2><strong>Blocks</strong></h2>
<ul>
<li>Deprecated <em>minecraft:part_visibility</em> block component</li>
<li>Added <em>bone_visibility</em> behavior to <em>minecraft:geometry</em> block component</li>
</ul>
<h2><strong>ItemStack</strong></h2>
<ul>
<li>Added function <em>getTags(): string[]</em> - Returns all tags for the item</li>
<li>Added function <em>hasTag(tag: string): boolean</em> - Returns true if the item has the specified tag</li>
</ul>
<h2><strong>EntityEquipmentInventoryComponent</strong></h2>
<ul>
<li>This component is used to manipulate the equipment of mobs and players. To use it, call <em>getComponent('equipment_inventory')</em>
</li>
<li>Added function <em>getEquipment(equipmentSlot: EquipmentSlot): ItemStack | undefined</em><em> - </em>Returns the item in the given equipment slot</li>
<li>Added function <em>getEquipmentSlot(equipmentSlot: EquipmentSlot): ContainerSlot</em> - Returns the container slot for the given equipment slot</li>
<li>Added function <em>setEquipment(equipmentSlot: EquipmentSlot, itemStack?: ItemStack): void</em> - Sets the item in the given equipment slot</li>
</ul>
<h2><strong>ItemDurabilityComponent</strong></h2>
<ul>
<li>The ItemDurabilityComponent now works with all damageable items, not just custom items</li>
<li>Removed property <em>damageRange</em>
</li>
<li>Setting damage will now throw an exception if it is outside of the range [0, maxDurability]</li>
</ul>
<h2><strong>Marketplace</strong></h2>
<ul>
<li>In the map WDW Magic Kingdom, the carts on the Big Thunder Mountain, Snow White and the Seven Dwarves, and Space Mountain rides now properly align with the invisible Minecart they are attached to</li>
</ul>
<h2><strong>Servers</strong></h2>
<ul>
<li>Blocks can now optionally (via a setting in StartGamePacket) use a hashed value for their network IDs. This hashed value is independent of all other blocks and remains stable across future releases</li>
</ul>
<h2><strong>GameTest Framework</strong></h2>
<ul>
<li>Updated specific GameTest exceptions to be thrown as GameTestError error objects</li>
<li>Added two new commands:
<ul>
<li>/gametest stopall - Used to manually stop all tests while they are running</li>
<li>/gametest runsetuntilfail - Used to run a set of tests but will automatically stop if any of the tests fail</li>
</ul>
</li>
</ul>
<h2><strong>API (Experimental)</strong></h2>
<ul>
<li>Updated versions to add new APIs to stable:
<ul>
<li>Added version 1.1.0 of minecraft/server</li>
<li>Added version 1.2.0-beta of minecraft/server</li>
<li>Removed version 1.1.0-beta of minecraft/server</li>
<li>Moved the following to minecraft/server stable (1.1.0)
<ul>
<li>system.runTimeout</li>
<li>system.runInterval</li>
<li>system.clearRun</li>
<li>system.currentTick</li>
<li>Vector3</li>
<li>BlockPermutation  (only a subset of functionality)</li>
<li>Block</li>
<li>Dimension.getBlock</li>
<li>World.sendMessage</li>
<li>Player.sendMessage</li>
<li>Entity.dimension</li>
<li>Entity.typeId</li>
<li>Entity.getVelocity()</li>
<li>Entity.location</li>
<li>Entity.getHeadLocation()</li>
<li>Entity.nameTag</li>
<li>Entity.id</li>
<li>Entity.getViewDirection()</li>
<li>Dimension.getEntities</li>
<li>Dimension.getEntitiesAtBlockLocation</li>
<li>Dimension.getPlayers</li>
<li>EntityQueryOptions</li>
<li>EntityQueryScoreOptions</li>
<li>GameType</li>
<li>World.getPlayers</li>
</ul>
</li>
<li>Minecraft runtime errors are now fired as JavaScript Error objects instead of strings</li>
<li>Fixed a number of base class inheritance issues and added several new base classes to certain class types</li>
<li>/reload works if a script pack references a client resource pack</li>
<li>Fixed a bug where the <em>BeforeItemUseOnEvent</em> function <em>getBlockLocation</em> would return undefined (<a href="https://bugs.mojang.com/browse/MCPE-166945" data-bi-id="n42a3" data-bi-name="mcpe-166945">MCPE-166945</a>)</li>
<li>The <em>BeforeItemUseOnEvent</em> class now inherits from <em>ItemUseOnEvent</em>
</li>
<li>Fixed a bug where <em>sendMessage</em> would fail when the message contains Unicode quotation marks</li>
<li>Signs
<ul>
<li>Added <em>setText</em> to set the text on a sign with a regular string, a <em>RawMessage</em>, or a <em>RawText</em>
</li>
<li>Added <em>getText</em> to get the string on a sign, will return undefined if <em>setText</em> was called with a <em>RawMessage</em> or a <em>RawText</em>
</li>
<li>Added <em>getRawText</em> to get the <em>RawText</em> on a sign, will return undefined if <em>setText</em> was called with a string</li>
<li>Added <em>getTextDyeColor</em> and <em>setTextDyeColor</em> to read/write the dye of the sign text</li>
</ul>
</li>
<li>Dyes
<ul>
<li>Added <em>DyeColor</em> enum</li>
</ul>
</li>
<li>sendMessage
<ul>
<li>
<em>rawtext</em> is now <em>RawMessage[]</em> instead of <em>(string | RawMessage)[]</em>
</li>
</ul>
</li>
<li>RawMessage
<ul>
<li>
<em>rawtext</em> property on <em>RawMessage</em> is no longer <em>(string | RawMessage)[]</em> and is instead <em>RawMessage[]</em>
</li>
</ul>
</li>
<li>RawText
<ul>
<li>Added a <em>RawText</em> class for reading <em>RawMessage</em> like on Signs</li>
</ul>
</li>
<li>Riding
<ul>
<li>Added <em>getRiders</em> to <em>EntityRideableComponent</em> which returns an array of all the entities currently riding this entity</li>
<li>Added <em>EntityRidingComponent</em> - this component is only on entities that are currently riding on another entity
<ul>
<li>Has an <em>entityRidingOn</em> property that returns the entity this entity is currently riding on</li>
</ul>
</li>
<li>Added function <em>getEntity(id: string): Entity | undefined</em> - Gets an entity. Returns undefined for entities that don't exist or aren't loaded</li>
</ul>
</li>
<li>Dimension
<ul>
<li>getEntities
<ul>
<li>Modified return type to <em>Entity[]</em>
</li>
<li>Modified parameter name <em>getEntities</em> to <em>options</em>
</li>
<li>New signature: <em>getEntities(options?: EntityQueryOptions): Entity[]</em>
</li>
</ul>
</li>
<li>getPlayers
<ul>
<li>Modified return type to <em>Player[]</em>
</li>
<li>Modified parameter name <em>getPlayers</em> to <em>options</em>
</li>
<li>New signature: <em>getPlayers(options?: EntityQueryOptions): Player[];</em>
</li>
</ul>
</li>
<li>minecraft/server-ui
<ul>
<li>When building forms, all read-only user-facing strings (e.g., text labels, dropdown options etc.) now accept <em>RawMessage</em> This affects the following classes:
<ul>
<li><em>ActionFormData</em></li>
<li><em>ModalFormData</em></li>
<li><em>MessageFormData</em></li>
</ul>
</li>
<li>Added function <em>getItemStack(amount?: number, withData?: boolean): ItemStack</em> - Gets an item stack of the block. Returns undefined for blocks that don't have a corresponding item (e.g. air)</li>
</ul>
</li>
<li>BlockPermutation
<ul>
<li>Added function <em>getItemStack(amount?: number): ItemStack</em> – Creates an item stack of the block permutation. Returns undefined for blocks that don't have a corresponding item (e.g. air)</li>
<li>Removed data <em>property</em>
</li>
</ul>
</li>
<li>BlockComponent
<ul>
<li>Added read-only property <em>block</em> - Gets the block that the component is attached to</li>
</ul>
</li>
<li>Renamed <em>IEntityComponent</em> to <em>EntityComponent</em>
</li>
<li>Container
<ul>
<li>Replaced classes <br><em>BlockInventoryComponentContainer</em>, <em>InventoryComponentContainer</em>, and <em>PlayerInventoryComponentContainer</em> with <em>Container</em>
</li>
<li>function <em>addItem</em> now returns the remainder of the added item stack if the container is full, else <em>undefined</em>
</li>
<li>function <em>transferItem</em> no longer takes a destination slot and will now place the given item in the first available slot. The function now returns the remainder of the item stack if the container is full, else <em>undefined</em>
</li>
<li>Added function <em>moveItem(fromSlot: number, toSlot: number, toContainer: Container): void</em> - Moves an item from one container to another, replacing any item in the destination slot</li>
<li>Function <em>swapItems</em> can now swap empty slots</li>
<li>Removed function <em>clearItem</em> - Please <em>use </em><em>setItem(undefined)</em> instead</li>
</ul>
</li>
<li>Signs
<ul>
<li>Fixed an issue where text set on Signs using <em>setText</em> wasn't reflected on Signs on the client until the Sign was reloaded</li>
<li>
<em>getComponent('minecraft:sign')</em> now works with Hanging Signs</li>
</ul>
    </li>
        </ul></li></ul></li></ul></div>
          <div class="article-attachments">
            <ul class="attachments"> 
            </ul>
          </div>
        </div>
      </section>
    </article>
    </div>
  </main>
      <section class="ui-section-feature">
      	<h3 title="Minecraft Versions" class="article-title">Minecraft Versions</h3>
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-3">
            <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11981" rel="bookmark" title="Minecraft 1.19.81 64bit"><img width="455" height="300" src="~/images/11981.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.81 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11981" rel="bookmark" title="Minecraft 1.19.81 64bit">Minecraft 1.19.81 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit"><img width="455" height="300" src="~/images/11973.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.73 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit">Minecraft 1.19.73 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11971" rel="bookmark" title="Minecraft 1.19.71 64bit"><img width="455" height="300" src="~/images/11971.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.71 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11971" rel="bookmark" title="Minecraft 1.19.71 64bit">Minecraft 1.19.71 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit"><img width="455" height="300" src="~/images/11970.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.70 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit">Minecraft 1.19.70 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit"><img width="455" height="300" src="~/images/11963.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.63 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit">Minecraft 1.19.63 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit"><img width="455" height="300" src="~/images/11960.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.60 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit">Minecraft 1.19.60 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit"><img width="455" height="300" src="~/images/11951.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.51 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit">Minecraft 1.19.51 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          <div class="ui-component-card ui-component-card--feature">
              <a href="https://webluemc.azurewebsites.net/articles/11922" rel="bookmark" title="Minecraft 1.19.22 64bit"><img width="455" height="300" src="~/images/11922.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.22 64bit" decoding="async" loading="lazy" /></a>
              <div class="ui-component-card--feature-content">
                  <h4><a href="https://webluemc.azurewebsites.net/articles/11922" rel="bookmark" title="Minecraft 1.19.22 64bit">Minecraft 1.19.22 64bit</a></h4>
                  <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
              </div>
          </div>
          </div>
        </div>
      </section>
    </main>
  </body>
