@page
@model IndexModel
@{
    ViewData["Title"] = "Home - Weblue";
}

<head>
<meta charset="UTF-8">
<meta name="google-site-verification" content="S2IynSweFCcLG5GgJs3MOIqQeDeYp6sfJcfZowW7tvo" />
<!-- SPEED -->
<link rel="preconnect" href="https://res.cloudinary.com">
<link rel="dns-prefetch" href="https://res.cloudinary.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<!-- LINK -->
<link rel="me" href="https://webluemc.azurewebsites.net">
<link rel="canonical" href="https://webluemc.azurewebsites.net">
<link rel="icon" type="image/png" href="~/images/icon.png" sizes="48x48" />
<!-- PERFORMANCE -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
<!-- TITLE -->
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="output.css">
<script src="~/js/script.js" defer></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
     crossorigin="anonymous"></script>
  </head>
<body>
    <main role="main">
        <section class="ui-section-hero">
            <div class="ui-layout-container">
                <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
                    <!-- COPYWRITIN -->
                    <div class="ui-component-cta ui-layout-flex">
                        <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft-xbox-one.jpg" loading="lazy" alt="#" class="ui-image-half-right">
                    </div><div>
                        <h1>Minecraft 1.19.63 64bit</h1>
                        <div class="starter-template" style="display:flex;display:flex;align-items: center;justify-content: center;">
                        </div>
                        <p class="ui-text-intro">
                            Minecraft 64bit gives you a better and smoother experience, optimizing performance.
                        </p>
                        <div class="download-btn-ctm">
                            <button data-link="nrc8p4jxeajqjhk/Minecraft_v1.19.63.01_64bit.apk/file" data-time="30">
                                <i class="fas fa-download"></i>Download</button>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1582063401224493"
                crossorigin="anonymous"></script>
        <!-- Ads -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1582063401224493"
             data-ad-slot="4003008353"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <section class="ui-section-feature">
            <div class="ui-layout-container">
                <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-3">
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.73 64bit"><img width="455" height="300" src="~/images/11973.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.73 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11973" rel="bookmark" title="Minecraft 1.19.70 64bit">Minecraft 1.19.73 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit"><img width="455" height="300" src="~/images/11970.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.70 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11970" rel="bookmark" title="Minecraft 1.19.70 64bit">Minecraft 1.19.70 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11963" rel="bookmark" title="Minecraft 1.19.63 64bit"><img width="455" height="300" src="~/images/11963.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.63 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.63 64bit">Minecraft 1.19.63 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit"><img width="455" height="300" src="~/images/11960.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.60 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11960" rel="bookmark" title="Minecraft 1.19.60 64bit">Minecraft 1.19.60 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                    <div class="ui-component-card ui-component-card--feature">
                        <a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit"><img width="455" height="300" src="~/images/11951.png" class="attachment-digiqole-small size-digiqole-small wp-post-image" alt="Minecraft 1.19.51 64bit" decoding="async" loading="lazy" /></a>
                        <div class="ui-component-card--feature-content">
                            <h4><a href="https://webluemc.azurewebsites.net/articles/11951" rel="bookmark" title="Minecraft 1.19.51 64bit">Minecraft 1.19.51 64bit</a></h4>
                            <p>Minecraft 64bit gives you a better and smoother experience, optimizing performance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <p>Very little childhood or background information on Mahiro Oyama is provided or recounted by the author Nekotoufu, in the manga Onii-chan is Done For. What is known about Mahiro's background is mostly obtained from implication, speculative deduction, or conjecture, based on her conduct and the past references she makes after she was transitioned to that of a teenage female. Mahiro was born perceived as a male, but probably had a female gender identity. Being raised as a male seems to have been a non-sequitur and a social irritant, resulting in a gradual decrease in their enjoyment of life. This lead to Mahiro, during their early teen years, to begin spiraling downward mentally, emotionally, and socially. So much so that they dropped out of Middle School, became a 'trashy Hikikomori NEET', and stayed isolated in their bedroom for about two years, mostly watching hentai videos and playing eroge video games. Such is the situation when the story begins, and Mahiro is introduced at the beginning of the story, when after a modern day miracle has occurred, and she awakes and sees herself for the first time as a cute teenage girl.</p>
    </main>
</body>
